 /* Contenedor del Call to Action */
    .contenedor {
      background-image: url('https://cdna.artstation.com/p/assets/images/images/054/917/394/large/amelion-abby-commission-mda.jpg?1665669068'); /* Imagen de fondo */
      background-size: cover;       /* Cubrir completamente el contenedor */
      background-position: center;  /* Centrar la imagen */
      background-repeat: no-repeat; /* Evitar repetición */
      display: flex;
      flex-direction: column;
      justify-content: center;      /* Centrar verticalmente */
      align-items: center;          /* Centrar horizontalmente */
      padding: 60px;                /* Espacio alrededor del contenido */
      text-align: center;
      color: #ffffff;               /* Texto blanco */
    }

    /* Título y párrafo  */
    .texto {
      font-size: 28px;
      font-weight: bold;
      margin: 10px 0;
    }

    .contenedor p.texto {
      font-size: 18px;
      font-weight: normal;
    }

    /* Botón del CTA */
    .boton {
      background-color: #626bb2;
      color: #ffffff;
      padding: 15px 30px;
      border: none;
      border-radius: 8px;
      font-size: 20px;
      text-transform: uppercase;
      cursor: pointer;
      margin-top: 20px;
      transition: background-color 0.3s ease;
    }

    .boton:hover {
      background-color: #5056a0; /* Cambia ligeramente */
    }