/* Estilo genérico botones */
.btn {
    padding: 10px 20px;
    border: none;
    margin: 10px;
    border-radius: 5px;
    transition: transform .2s;
    font-size: 16px;
}

/* efecto hover igual para todos */
.btn:hover {
    transform: scale(1.1);
}

/* Botón normal */
.normal {
    background-color: #3498db;
    color: white;
    cursor: crosshair;
}

/* Botón con contorno */
.contorno {
    border: 2px solid #3498db;
    background-color: transparent;
    color: #3498db;
    cursor: pointer;
}

/* Botón alerta */
.alerta {
    background-color: #e74c3c;
    color: white;
    cursor: help;
}
